# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

basics/asm/start
basics/c/.depend
basics/c/start
basics/einfach/.depend
basics/einfach/start
chapters/chapter1/main
chapters/chapter2/maximum/.vscode/
chapters/chapter2/maximum/maximum
chapters/chapter2/mergesort/v1/merge_v1
chapters/chapter2/mergesort/v2/merge_v2
chapters/chapter2/pi/fpu/start
chapters/chapter2/pi/fpu64/start
chapters/chapter2/pi/v1/pi_v1
chapters/chapter2/pi/v2/pi_v2
chapters/chapter2/pi/v3/pi_v3
chapters/chapter2/pi/v4/pi_v4
chapters/chapter2/pi/v5/pi_v5
chapters/chapter2/pi/v6/pi_v6
chapters/chapter2/pi/v7/pi_v7
chapters/chapter2/rounding_error/main
chapters/chapter4/aslr/aslr_demo
chapters/chapter4/shlib/prog
chapters/chapter5/lex/lex.yy.c
chapters/chapter5/lex/varcounter

.ipynb_checkpoints/
